<div class="bg-white min-h-screen p-5">
    <div class="grid-4">
        <div class="bg-white shadow-sm p-2 text-center">
            <img src="{{ theme:img src="iphone8.jpg" }}">
            <h5>iPhone 8</h5>
            <div class="more">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non voluptas nobis iste natus molestiae laudantium recusandae maxime officia dolorum eos in at veniam fugit corrupti neque, quam praesentium assumenda excepturi!</p>
            </div>
        </div>
        <div class="bg-white shadow-sm p-2 text-center">
            <img src="{{ theme:img src="iphone8.jpg" }}">
            <h5>iPhone 8</h5>
        </div>
        <div class="bg-white shadow-sm p-2 text-center">
            <img src="{{ theme:img src="iphone8.jpg" }}">
            <h5>iPhone 8</h5>
        </div>
        <div class="bg-white shadow-sm p-2 text-center">
            <img src="{{ theme:img src="iphone8.jpg" }}">
            <h5>iPhone 8</h5>
        </div>
        <div class="bg-white shadow-sm p-2 text-center">
            <img src="{{ theme:img src="iphone8.jpg" }}">
            <h5>iPhone 8</h5>
        </div>
    </div>
</div>
