<a href="https://themesong.studio" class="text-black md:ml-4">Theme Song Studio</a>
<a href="/services" class="text-black md:ml-4 {{ if segment_1 == "services"}}text-orange {{ /if }}">My Services</a>
<a href="/music" class="text-black md:ml-4 {{ if segment_1 == "music"}}text-orange {{ /if }}">Free-Use Music</a>
<a href="/discography" class="text-black md:ml-4 {{ if segment_1 == "discography"}}text-orange {{/if }}">Discography</a>
<a href="/about" class="text-black md:ml-4 {{ if segment_1 == "about"}}text-orange {{ /if }}">About Me</a>
<a href="mailto:joseph@josephmcdade.com" class="text-black md:ml-4">Contact</a>
