<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>{{ title }} // Joseph McDade &mdash; Producer, Songwriter, Musician</title>
    <meta name="description" content="I create totally free, hand crafted music for creative use or general enjoyment.">
    <link rel="short icon" href="/favicon.png">
    <link href="/assets/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/pqf5fkf.css">
</head>
<body class="">
    <div id="site">
        <nav class="bg-white">
            <div class="container flex items-center justify-between h-16 lg:h-24 mx-auto">
                <a href="/">{{ theme:output src="img/joseph-logo.svg" }}</a>
                <div class="hidden links lg:flex items-center uppercase font-heading">
                    <a href="/services" class="text-black ml-4 {{ if segment_1 == "services"}}text-orange {{ /if }}">Hire My Services</a>
                    <a href="/music" class="text-black ml-4 {{ if segment_1 == "music"}}text-orange {{ /if }}">Free-Use Music</a>
                    <a href="/discography" class="text-black ml-4 {{ if segment_1 == "discography"}}text-orange {{/if }}">Discography</a>
                    <a href="/about" class="text-black ml-4 {{ if segment_1 == "about"}}text-orange {{ /if }}">About Me</a>
                    <a href="mailto:joseph@josephmcdade.com" class="text-black ml-4">Contact</a>
                </div>
                <!-- <span class="lg:hidden">|||</span> -->
            </div>
        </nav>
        {{ template_content }}
        <footer class="site-footer bg-black py-5 text-white">
            <div class="container lg:flex items-center justify-between">
                <div>
                    <a href="/" class="text-white">{{ theme:output src="img/joseph-logo.svg" }}</a>
                    <div class="my-4 lg:my-0 text-sm uppercase antialiased lg:mt-1 font-heading opacity-25">&copy; Copyright {{ now format="Y" }} &bull; All Rights Reserved &bull; Site Designed by <a href="https://jackmcdade.com" class="text-white underline">Jack McDade</a></div>
                </div>
                <a href="{{ patreon_url }}" class="text-white font-heading uppercase text-lg no-underline">Support me on <span class="text-orange">Patreon</span></a>
            </div>
        </footer>
    </div>
    {{ partial:scripts }}
</body>
</html>
