<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Joseph McDade &mdash; Songwriter, Musician, Producer</title>
    <link href="/assets/css/main.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body class="font-sans text-base bg-black">
    <div id='app' class="bg-cover relative bg-center bg-cover text-white w-full h-screen" style="background-image: url('/assets/img/scatterbrained-bg.jpg');">
        <div class="bg-black absolute pin mix-screen opacity-50 z-10"></div>
        <div id="site" class="p-4 z-20 relative h-full w-full text-center py-6">
            <div class="max-w-md mx-auto">
                <div class="mb-6">{{ theme:output src="img/joseph.svg" }}</div>
                <a href="https://itunes.apple.com/us/album/scatterbrained/1383014335">
                    <img src="/assets/img/scatterbrained-cover-art.jpg" class="rounded-lg shadow hover-lift  w-auto h-auto" height="600" width="600" alt="A surreal woodland forest is populated by a plethora of creatures and hot air baloons" title="Scatterbrained Cover Art">
                </a>
                <p class="font-heading tracking-wide uppercase mt-4 mb-2">Now Available:</p>

                <a href="https://itunes.apple.com/us/album/scatterbrained/1383014335" class="py-1 px-2 hover:bg-faint rounded text-yellow hover:text-yellow-dark">iTunes</a>
                <a href="https://josephmcdade.bandcamp.com" class="py-1 px-2 hover:bg-faint rounded text-yellow hover:text-yellow-dark">Bandcamp</a>

            </div>
            <p class="opacity-75 pin-b pin-l pin-r absolute text-center py-3 text-sm">&copy; 2018 Joseph McDade</p>
        </div>
    </div>
</body>
</html>
