<div class="mt-8 md:pb-8 relative">
    <div class="container max-w-xl relative">
        <img src="/assets/img/just-picks.jpg" class="absolute hidden lg:block pin-r pin-b z-0" height="202px" width="169" alt="Just two guitar picks that couldn't be any more black." style="top: 440px">
        <div class="md:flex items-start mb-4 ">
            <div class="max-w-md mb-7 md:pr-7">
                <h1 class="sign text-lg">I Am Joseph McDade</h1>
                <h2 class="my-5">A musician in a world full of musicians. Wish me luck.</h2>
                {{ content }}
            </div>
            <div class="md:w-120 relative z-10">
                <img src="/assets/img/joseph-ireland.jpg" alt="Joseph in Ireland" class="shadow-offset">
                <p class="mt-1 text-sm italic text-grey">This is me sitting on a rock.</p>
            </div>
        </div>
    </div>
</div>
