<div class="mt-8 md:pb-8 relative">
    <div class="container max-w-xl relative">
        <img src="/assets/img/just-picks.jpg" class="absolute hidden lg:block pin-r pin-b z-0" height="202px" width="169" alt="Just two guitar picks that couldn't be any more black.">
        <div class="md:flex mb-4">
            <div class="max-w-md mb-7 md:pr-7">
                <h1 class="sign text-lg">I Am Joseph McDade</h1>
                <h2 class="my-5">A musician in a world full of musicians. Wish me luck.</h2>
                <p>As a musician (a music do-er, or "maker of music"), audio engineer, lover of too many styles of music, and follower of many channels and podcasts, I'm tired of terrible stock music, and crazy prices for custom work. As a music-school grad, I know all too well how much of a nightmare music licensing is. That class was painful.</p>
                <p>So I'm fixing it. Now I make high-quality music for creators and give it away &mdash; license free, just like <a href="https://unsplash.com">Unsplash</a> does for photos (except I'm just one guy). All I ask for in return is that you credit me &mdash; <strong>Joseph McDade</strong> &mdash; however you can in whatever you create. That's it. You <em>can</em> also support me on Patreon, but you don't have to. But it would great if you did.</p>
            </div>
            <div class="md:w-120">
                <img src="/assets/img/joseph-ireland.jpg" alt="Joseph in Ireland" class="shadow-offset">
                <p class="mt-1 text-sm italic text-grey">This is me sitting on a rock.</p>
            </div>
        </div>
    </div>
</div>
