<div class="hero">
    <div class="container flex flex-center md:block relative h-full">
        <div class="hero-content">
            <h1>{{ tagline | widont:5 }}</h1>
            <img src="{{ theme:img src="music.svg"}}" alt="Music">
        </div>
    </div>
</div>
<div class="mt-8 md:pb-5 relative" id="music-for-creators">
    <img src="/assets/img/cables-and-picks.jpg" alt="XLR cables, for decorative purposes" class="absolute mix-multiply hidden xl:block" style="right: 0px; top: 960px; z-index: -1;" width="436">
    <div class="container relative">
        <img src="/assets/img/keyboard.jpg" alt="A keyboard, for decorative purposes" id="keyboard" class="absolute hidden lg:block" style="left: -440px; top: 600px; z-index: -1;" width="600">
        <div class="md:flex mb-4 md:mb-8">
            <div class="md:w-1/2 md:pr-6">
                <div class="sign">This is what I do</div>
                <h2 class="my-5">I create totally free music for creators</h2>
                <p>The current state of music licensing and monitization is abysmal and quite frankly, unsustainable. I’m cutting out the crap, creating the best music I can, and giving it away for anyone to use for <strong>any purpose</strong>.</p>
                <p>Got a podcast or YouTube channel? Do you livestream? Making screencasts, indy movies, or video games? Go ahead, use my music. If you choose to support me on Patreon, you can get access to <strong>variations, alternate lengths, loops, and bonus tracks</strong> every month.</p>
                <h4><a href="/music">Explore & Download My Music</a></h4>
            </div>
            <div class="md:w-1/2 pt-4">
                <img src="/assets/img/joseph-on-stage.jpg" alt="Joseph on Stage" width="540" class="md:mt-8">
            </div>
        </div>
        <div class="player md:w-120 relative mx-auto z-10" id="home-player">
            <div class="text-center py-2 text-heading text-sm border-b bg-grey-lightest">
                Check out a few full-length samples!
            </div>
            {{ assets:sample_tracks as="tracks" }}
                <player :tracks='{{ tracks | json }}'></player>
            {{ /assets:sample_tracks }}
        </div>
    </div>
</div>

<div class="container md:pl-6 mt-8 flex">
    <div>
        <img src="{{ theme:img src="left-quote.svg" }}" class="mr-5 hidden md:block">
    </div>
    <blockquote class="md:border-l-8 border-black md:pl-5 py-2">
        <div class="font-bold italic md:w-120 leading-normal">Joseph’s ability to crank out truly fantastic, original music is impressive. It's about time someone changed the way music is licensed.</div>
        <cite class="text-grey text-sm font-heading roman mt-3 block antialiased">&mdash; Jack M, Founder & Designer @ Wilderborn</cite>
    </blockquote>
</div>

<h5 class="uppercase text-grey antialiased font-normal mt-8 mb-2 text-center font-heading">&darr; Here's how it works &darr;</h6>

<div class="container bg-grey-lightest p-4 lg:p-6 lg:mb-8 max-w-lg font-heading uppercase font-bold antialiased relative min-h-tall">
    <h2 id="details-runner" class="hidden lg:block">Details</h2>
    <div class="lg:ml-8 lg:px-6 text-xl">
        <div class="mb-5 flex items-center">
            <div class="detail-number pt-2">01</div>
            <div class="leading-none ml-3 pr-4">I release a new batch each&nbsp;month</div>
        </div>
        <div class="mb-5 flex items-center">
            <div class="detail-number pt-2">02</div>
            <div class="leading-none ml-3 pr-4">Use the music for anything you want</div>
        </div>
        <div class="mb-5 flex items-center">
            <div class="detail-number pt-2">03</div>
            <div class="leading-none ml-3 pr-4">Credit me if the medium supports it</div>
        </div>
        <div class="mb-5 flex items-center">
            <div class="detail-number pt-2">04</div>
            <div class="leading-none ml-3 pr-4"><a href="{{ patreon_url }}" class="no-underline text-orange hover:text-blue">Patrons</a> get bonus tracks & variations</div>
        </div>
        <div class="mb-5 flex items-center">
            <div class="detail-number pt-2">05</div>
            <div class="leading-none ml-3 pr-4"><a href="mailto:joseph@josephmcdade.com" class="text-black hover:text-blue">Contact me</a> if you want modifications</div>
        </div>
    </div>
    <a href="{{ patreon_url }}" class="button lg:absolute pin-b pin-r -mr-3 -mb-3">Download on Patreon</a>
</div>

<div class="container lg:mt-8 lg:mb-7 py-7 relative">
    <div class="max-w-xl mx-auto flex flex-wrap">
        <div class="w-full lg:w-1/2 bg-black p-4 lg:p-6 text-white">
            <div class="sign-inverted mb-4">B Side</div>
            <h2 class="mb-3">Custom Tracks</h2>
            <p>If you like my music and range of styles, I am available for custom, exclusive tracks. Just let me know what you need, like, and how long you want it to be.</p>
            <p>I can create bumpers, stems, stings, and other types of package variations.</p>
            <h4><a href="mailto:joseph@josephmcdade.com" class="text-white">Get in touch</a></h4>
        </div>
        <div class="w-full lg:w-1/2 p-4 lg:p-6 flex flex-col justify-center">
            <h2 class="mb-3">Follow Me</h2>
            <p>If you want to follow me on social media, please take a minute to say hello. Let’s put the <strong>social</strong> back in social network.</p>
            <div class="flex">
                <a href="https://twitter.com/_josephmcdade" class="mr-3 text-black hover:text-blue">
                    {{ theme:output src="img/logo-circle-twitter.svg"}}
                </a>
                <a href="https://www.facebook.com/joseph.mcdade.9" class="mr-3 text-black hover:text-blue">
                    {{ theme:output src="img/logo-circle-facebook.svg"}}
                </a>
                <a href="https://soundcloud.com/joseph-mcdade" class="mr-3 text-black hover:text-blue">
                    {{ theme:output src="img/logo-circle-soundcloud.svg"}}
                </a>
                <a href="{{ patreon_url }}" class="mr-3 text-black hover:text-orange">
                    {{ theme:output src="img/logo-circle-patreon.svg"}}
                </a>
            </div>
        </div>
    </div>
    <img src="/assets/img/just-picks.jpg" class="absolute hidden lg:block pin-r pin-b z-0" height="202px" width="169"  alt="Just two guitar picks. Nothing to see really.">
</div>
