<div class="container max-w-lg text-center pt-8">
    <h1 class="mb-2">Free-Use Music for Creators</h1>
    <p>I post a new song on Patreon every other week and a free song every month. Use them for any purpose — podcasts, YouTube videos, indy movies, video games, you name it. <strong>If you can credit me</strong>, please do so.</p>
    <h4>Consider <a href="{{ patreon_url }}">supporting me on Patreon so I can keep doing this</a>!</h4>
    <p class="text-xs text-grey mt-1">(Supporters get access to loops, stems, and alternates too!)</p>
</div>

<div class="mt-8 md:pb-5 relative">
    <img src="/assets/img/cables-and-picks.jpg" alt="XLR cables, for decorative purposes" class="absolute mix-multiply hidden xl:block" style="right: 0px; top: 960px; z-index: -1;" width="436">
    <div class="container relative">
        <div class="player w-full relative mx-auto z-10">
            <div class="text-center py-2 text-heading text-sm border-b bg-grey-lightest">
                Free Music Tracks
            </div>
            {{ assets container="main" folder="music" as="tracks" }}
                <player :tracks='{{ tracks | json | sanitize }}' :download="true" :link="true"></player>
            {{ /assets }}
        </div>
    </div>
</div>

<h5 class="uppercase text-grey antialiased font-normal mt-8 mb-2 text-center font-heading">&darr; Want more free-use music?
    &darr;</h5>
<div
    class="container bg-grey-lightest p-4 lg:p-6 lg:mb-8 max-w-lg mx-auto font-heading uppercase font-bold antialiased relative min-h-tall">
    <h2 id="details-runner" class="hidden lg:block">Details</h2>
    <div class="lg:ml-8 lg:px-6 text-xl">
        <div class="mb-5 flex items-center">
            <div class="detail-number pt-2">01</div>
            <div class="leading-none ml-3 pr-4">Support me on <a class="no-underline text-orange hover:text-blue" href="{{ patreon_url }}">Patreon</a> for any amount</div>
        </div>
        <div class="mb-5 flex items-center">
            <div class="detail-number pt-2">02</div>
            <div class="leading-none ml-3 pr-4">Download new tracks each month</div>
        </div>
        <div class="mb-5 flex items-center">
            <div class="detail-number pt-2">03</div>
            <div class="leading-none ml-3 pr-4">Use them for anything you want</div>
        </div>
        <div class="mb-5 flex items-center">
            <div class="detail-number pt-2">04</div>
            <div class="leading-none ml-3 pr-4">Credit me if the medium supports it</div>
        </div>
        <div class="mb-5 flex items-center">
            <div class="detail-number pt-2">05</div>
            <div class="leading-none ml-3 pr-4"><a href="mailto:joseph@josephmcdade.com"
                    class="text-black hover:text-blue">Contact me</a> if you want modifications</div>
        </div>
    </div>
    <a href="{{ patreon_url }}" class="button lg:absolute pin-b pin-r -mr-3 -mb-3">Support Me on Patreon</a>
</div>

<div class="container lg:mt-8 lg:mb-7 py-7 relative">
    <div class="max-w-xl mx-auto flex flex-wrap">
        <div class="w-full lg:w-1/2 bg-black p-4 lg:p-6 text-white">
            <div class="sign-inverted mb-4">B Side</div>
            <h2 class="mb-3">Custom Tracks</h2>
            <p>If you like my music and range of styles, I am available for custom, exclusive tracks. Just let me know what you need, like, and how long you want it to be.</p>
            <p>I can create bumpers, stems, stings, and other types of package variations.</p>
            <h4><a href="mailto:joseph@josephmcdade.com" class="text-white">Get in touch</a></h4>
        </div>
        <div class="w-full lg:w-1/2 p-4 lg:p-6 flex flex-col justify-center">
            <h2 class="mb-3">Follow Me</h2>
            <p>If you want to follow me on social media, please take a minute to say hello. Let’s put the <strong>social</strong> back in social network.</p>
            <div class="flex">
                <a href="https://twitter.com/_josephmcdade" class="mr-3 text-black hover:text-blue">
                    {{ theme:output src="img/logo-circle-twitter.svg"}}
                </a>
                <a href="https://www.facebook.com/joseph.mcdade.9" class="mr-3 text-black hover:text-blue">
                    {{ theme:output src="img/logo-circle-facebook.svg"}}
                </a>
                <a href="https://soundcloud.com/joseph-mcdade" class="mr-3 text-black hover:text-blue">
                    {{ theme:output src="img/logo-circle-soundcloud.svg"}}
                </a>
                <a href="{{ patreon_url }}" class="mr-3 text-black hover:text-orange">
                    {{ theme:output src="img/logo-circle-patreon.svg"}}
                </a>
            </div>
        </div>
    </div>
    <img src="/assets/img/just-picks.jpg" class="absolute hidden lg:block pin-r pin-b z-0" height="202px" width="169"  alt="Just two guitar picks. Nothing to see really.">
</div>
