<div class="container max-w-lg text-center pt-8">
    <h1 class="mb-2">Free-Use Music for Creators</h1>
    <p>Use anything you find here for any purpose: podcasts, YouTube videos, livestreams, indy movies, video games, you name it. Use my music! All I ask is that <strong>if you can</strong> easily credit me, please do so.</p>
    <h4>If you like what I'm doing, consider <a href="{{ patreon_url }}">supporting me on Patreon</a>!</h4>
    <p class="text-xs text-grey mt-1">(You'll get access to bonus tracks, loops, stems, and alternates too!)</p>
</div>

<div class="mt-8 md:pb-5 relative">
    <img src="/assets/img/cables-and-picks.jpg" alt="XLR cables, for decorative purposes" class="absolute mix-multiply hidden xl:block" style="right: 0px; top: 960px; z-index: -1;" width="436">
    <div class="container relative">
        <div class="player w-full relative mx-auto z-10">
            <div class="text-center py-2 text-heading text-sm border-b bg-grey-lightest">
                Free Music Tracks
            </div>
            {{ assets container="main" folder="music" as="tracks" }}
                <player :tracks='{{ tracks | json | sanitize }}' :download="true" :link="true"></player>
            {{ /assets }}
        </div>
    </div>
</div>

<div class="container lg:mt-8 lg:mb-7 py-7 relative">
    <div class="max-w-xl mx-auto flex flex-wrap">
        <div class="w-full lg:w-1/2 bg-black p-4 lg:p-6 text-white">
            <div class="sign-inverted mb-4">B Side</div>
            <h2 class="mb-3">Custom Tracks</h2>
            <p>If you like my music and range of styles, I am available for custom, exclusive tracks. Just let me know what you need, like, and how long you want it to be.</p>
            <p>I can create bumpers, stems, stings, and other types of package variations.</p>
            <h4><a href="mailto:joseph@josephmcdade.com" class="text-white">Get in touch</a></h4>
        </div>
        <div class="w-full lg:w-1/2 p-4 lg:p-6 flex flex-col justify-center">
            <h2 class="mb-3">Follow Me</h2>
            <p>If you want to follow me on social media, please take a minute to say hello. Let’s put the <strong>social</strong> back in social network.</p>
            <div class="flex">
                <a href="https://twitter.com/_josephmcdade" class="mr-3 text-black hover:text-blue">
                    {{ theme:output src="img/logo-circle-twitter.svg"}}
                </a>
                <a href="https://www.facebook.com/joseph.mcdade.9" class="mr-3 text-black hover:text-blue">
                    {{ theme:output src="img/logo-circle-facebook.svg"}}
                </a>
                <a href="https://soundcloud.com/joseph-mcdade" class="mr-3 text-black hover:text-blue">
                    {{ theme:output src="img/logo-circle-soundcloud.svg"}}
                </a>
                <a href="{{ patreon_url }}" class="mr-3 text-black hover:text-orange">
                    {{ theme:output src="img/logo-circle-patreon.svg"}}
                </a>
            </div>
        </div>
    </div>
    <img src="/assets/img/just-picks.jpg" class="absolute hidden lg:block pin-r pin-b z-0" height="202px" width="169"  alt="Just two guitar picks. Nothing to see really.">
</div>
