<div class="font-sans text-base relative bg-center bg-cover min-h-screen" style="background-image: url('/assets/img/scatterbrained-bg.jpg');">
    <div class="bg-black absolute pin mix-screen opacity-50 z-10"></div>
    <div id="site" class="p-3 z-20 relative h-full w-full text-center pt-8">
        <div class="max-w-md mx-auto">
            <a href="https://itunes.apple.com/us/album/scatterbrained/1383014335">
                <img src="/assets/img/scatterbrained-cover-art.jpg" class="rounded-lg shadow hover-lift  w-auto h-auto" height="600" width="600" alt="A surreal woodland forest is populated by a plethora of creatures and hot air baloons" title="Scatterbrained Cover Art">
            </a>
            <p class="font-heading tracking-wide uppercase text-white mt-6 mb-2">Now Available On</p>
            <div class="bg-black inline-block rounded-full p-2">
                <a href="https://itunes.apple.com/us/album/scatterbrained/1383014335" class="no-underline text-white text-sm hover:text-yellow-dark mx-1">iTunes</a>
                <a href="https://open.spotify.com/album/1ksozKQVb9QTMFNZiOFvoM?si=mlqw3jBHR-SZ9RqEeAqs1Q" class="no-underline text-white text-sm hover:text-yellow-dark mx-1">Spotify</a>
                <a href="https://josephmcdade.bandcamp.com" class="no-underline text-white text-sm hover:text-yellow-dark mx-1">Bandcamp</a>
            </div>
        </div>
    </div>
</div>
