@font-face {
    font-family: 'bebas-neue';
    src: url('../fonts/bebas-neue/BebasNeue-Regular.otf'),
         url('../fonts/bebas-neue/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas-neue';
    src: url('../fonts/bebas-neue/BebasNeue-Bold.otf'),
         url('../fonts/bebas-neue/BebasNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    @apply font-sans text-base text-black;
}

h1, h2, h3, h4 {
    @apply .font-heading .antialiased .uppercase .leading-none;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-lg;
}

a {
    @apply .cursor-pointer;
    &:hover {
        @apply .text-orange;
    }
}

h3 a, h4 a {
    @apply underline text-black;
}

p {
    @apply .text-base .leading-normal .mb-5 .antialiased;
}
